.main-title {
    font-family: curve;
  font-size: 25px;
}
.color-letter-title {
    font-family: curve;
    color: var(--blue)
}

@media screen and (min-width: 1024px) {
    .main-title {
      font-size: 45px;
    }
} 