@font-face {
  font-family: hoftype;
  src: url("../fonts/hoftype.otf");
}

@font-face {
  font-family: curve;
  src: url("../fonts/Curve/Curve-UltraBold-Italic.otf")
}

* {
  font-family: 'hoftype';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root{
  --blue: #134e85;

}
