.bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.color-letter-capital {
    color: var(--blue);
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 70px;
}

.subtitle-bio {
    font-size: 30px;
}

.text-bio {
    text-align: center;
}

.video-bio {
    width: 800px;
    height: 400px;
    background-color: aquamarine;
}